* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--grey-dark-2);
  background-image: linear-gradient(to right bottom, #eb2f06, #fa983a);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #ffffff;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

.btn:link,
.btn:visited {
  background-color: #fa983a;
  border-radius: 5px;
  padding: 1rem 2.5rem;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all .2s ease-out;
}

.btn:link:hover, .btn:link:active,
.btn:visited:hover,
.btn:visited:active {
  background-color: #eb2f06;
}

.nav {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  margin-right: .5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}

.nav__box {
  position: relative;
  padding: 1rem 0;
  height: 100%;
}

.nav__box:hover > .nav__main-link {
  color: #fa983a;
}

.nav__box:hover .nav__icon {
  border: solid #fa983a;
  border-width: 0 2px 2px 0;
  transform: rotate(-135deg);
}

.nav__box:hover > .nav__list {
  visibility: visible;
  opacity: 1;
}

.nav__main-link:link, .nav__main-link:visited, .nav__link:link, .nav__link:visited {
  text-decoration: none;
}

.nav__main-link:link, .nav__main-link:visited {
  font-size: 1.5rem;
  color: #000000;
  transition: all .2s ease-out;
}

.nav__main-link:link:hover, .nav__main-link:link:active, .nav__main-link:visited:hover, .nav__main-link:visited:active {
  color: #fa983a;
}

.nav__main-link:hover > .nav__icon,
.nav__main-link:active > .nav__icon {
  border: solid #fa983a;
  border-width: 0 2px 2px 0;
  transform: rotate(-135deg);
}

.nav__icon {
  transition: all .2s ease-out;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 2px;
  transform: rotate(45deg) translate(-2px, -2px);
}

.nav__list {
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease-out;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: -60%;
  top: 101%;
  z-index: 100;
  min-width: 16rem;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  -ms-flex-direction: column;
      flex-direction: column;
  border-radius: 2px;
}

.nav__item {
  transition: all .2s ease-out;
  padding: 1rem;
  cursor: pointer;
}

.nav__item:not(:last-child) {
  border-bottom: 1px solid rgba(204, 204, 204, 0.2);
}

.nav__item:hover, .nav__item:active {
  background-color: rgba(204, 204, 204, 0.2);
}

.nav__link:link, .nav__link:visited {
  font-size: 1.4rem;
  color: #333;
}

.search {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
}

.search__input {
  font-family: inherit;
  font-size: 1.3rem;
  background-color: #f4f2f2;
  border: none;
  padding: .7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all .2s ease-out;
  margin-right: -3.5rem;
}

.search__input:-ms-input-placeholder {
  color: #999;
}

.search__input::placeholder {
  color: #999;
}

.search__input:focus, .search__input:active {
  outline: 0;
  width: 100%;
  background-color: #f0eeee;
}

.search__icon {
  font-size: 1.3rem;
  color: #999;
}

.tabs {
  border-bottom: 2px solid #eb2f06;
}

.tabs__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.tabs__item {
  text-align: center;
  width: 25%;
  padding: 1rem 0;
  margin: 0 auto;
  cursor: pointer;
  background-color: #f0eeee;
  border-left: 1px solid #faf9f9;
  border-right: 1px solid #faf9f9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #eb2f06;
  position: relative;
  z-index: 0;
}

.tabs__item--active {
  background-color: #eb2f06;
  color: #ffffff;
}

.tabs__item:not(.tabs__item--active):hover > .tabs__link::before {
  height: 100%;
}

.tabs__item:not(.tabs__item--active):hover > .tabs__link {
  color: #ffffff;
}

.tabs__link:link, .tabs__link:visited {
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
  z-index: 1;
  transition: all .2s ease-out;
}

.tabs__link:link::before, .tabs__link:visited::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #f6b93b;
  z-index: -1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: height 0.2s cubic-bezier(1, 0, 0, 1), background-color 0.1s;
}

.tabs__icon {
  color: inherit;
  margin-right: 1rem;
}

.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.header__icon {
  color: #fa983a;
  font-size: 4rem;
  margin: 1.5rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */