* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--grey-dark-2);
    background-image: linear-gradient(to right bottom, $color-primary-dark, $color-primary);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: $color-white;
    box-shadow: $shadow-dark;
}

.btn:link,
.btn:visited {
    background-color: $color-primary;
    border-radius: 5px;
    padding: .8rem 2.5rem;
    cursor: pointer;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    @include transition;

    &:hover,
    &:active {
        background-color: $color-primary-dark;
    }
}