.message {
    padding: 10rem 0;
    text-align: center;
    background-color: rgba($color-primary-dark, .05);
    display: flex;
    align-items: center;
    flex-direction: column;

    &__btn:link,
    &__btn:visited {
        background-color: $color-primary-dark;
        padding: 1rem 4rem;
        color: $color-white;
        text-decoration: none;
        font-size: 1.4rem;
        text-transform: uppercase;
        @include transition;

        &:hover,
        &:active {
            background-color: $color-primary;
        }
    }
}