.options {
    @include section-padding;
    text-align: center;

    &__container {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }

    &__box {
        width: 50%;

        &:nth-child(odd) {
            padding: 0 .5rem 0 1rem;
        }

        &:nth-child(even) {
            padding: 0 1rem 0 .5rem;
        }
    }

    &__card {   
        @include transition;
        background-size: cover;
        background-position: center;
        box-shadow: inset 0px 0px 0px 2000px rgba($color-black, .5);
        height: 30vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $color-white;
        cursor: pointer;
        backface-visibility: hidden;

        &:hover {
            box-shadow: inset 0px 0px 0px 2000px rgba($color-black, .2);
        }

        &--band {
            background-image: url(/images/band.jpg);
        }

        &--dj {
            background-image: url(/images/dj.jpg);
        }
    }

    &__button:link,
    &__button:visited {
        text-decoration: none;
        background-color: $color-primary-dark;
        color: $color-white;
        font-size: 2rem;
        padding: .8rem 3.5rem;
        margin-top: 1rem;
        @include transition;

        &:hover,
        &:active {
            background-color: $color-primary;
        }
    }
}